// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image:url("top.png");
    background-size:auto;
}

.top {
    width:100%;
    height:500px;
    margin-top:250px;
    p {
        color:gray;
        text-align:center;
        font-weight:bold;
        font-size:25px;
    }
}